.word--crossword {
	font-size: 8vh;
	font-family: 'Barrio', serif;
	font-weight: 400;
	/* text-transform: uppercase; */
	color: #ffffff;
	line-height: 0.9;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, 0.9em);
	justify-self: center;
}

.word--crossword span {
	text-align: center;
	display: block;
}

.word__cross {
	pointer-events: none;
	color: #30A271;
}

.word__cross span {
	opacity: 0;
}
