<!DOCTYPE html>

{% load i18n staticfiles compress wger_extras %}
<html lang="{{language.short_name}}">
{% spaceless_config %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- OpenGraph -->
    {% block opengraph %}
        <meta property="og:url" content="{{ request_absolute_path }}">
        <meta property="og:type" content="website">
    {% endblock %}
    {% block opengraphimages %}
        <meta property="og:image" content="{{ image_absolute_path }}">
    {% endblock %}

    <!-- twitter cards -->
    {% block twittercard %}
    {% if twitter %}
        <meta content="summary" name="twitter:card">
        <meta content="@{{ twitter }}" name="twitter:site">
    {% endif %}
    {% endblock %}


    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/shariff/build/shariff.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/crossword.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/fitfilment.css' %}">

    {% endcompress %}

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

    {% compress js %}
    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% endcompress %}

    <title>{% trans "All In One Fitness Planning & Tracking App - Features" %} - FitFilment</title>
</head>

<body id="page-top" class="index">

{% include 'navigation.html' %}

    {% block template %}{% endblock %}
    <div id="current-url" data-current-url="{{request_full_path}}"></div>
    <div id="current-language" data-current-language="{{language.short_name}}"></div>

    <footer class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                      <li>
                          <a href="#" title="Instagram">
                           <img src="{% static 'images/icons/instagram.png' %}" alt="Intagram" class="icon">
                          </a>
                      </li>
                      <li>
                          <a href="#" title="Facebook">
                           <img src="{% static 'images/icons/facebook.png' %}" alt="Facebook" class="icon">
                          </a>
                      </li>
                        <li>
                            <a href="#" title="Twitter">
                             <img src="{% static 'images/icons/twitter.png' %}" alt="Twitter" class="icon">
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/lukehoulihan/fitfilment" title="Github">
                                <img src="{% static 'images/icons/github-sign.png' %}" alt="Github" class="icon">
                            </a>
                        </li>
                        <li>
                          {% if show_shariff %}
                            {% include 'misc/fragments/shariff_modal.html' %}
                            <a data-toggle="modal" href="#shariffModal" title="Share">
                              <img src="{% static 'images/icons/social-normal.png' %}" alt="Share" class="icon">
                            </a>
                            <div class="clearfix"></div>
                          {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline quicklinks">
                        <li><a href="{% url 'core:about' %}">{% trans "About" %}</a></li>
                        <li><a href="{% url 'software:issues' %}">{% trans "Get in Touch" %}</a></li>
                        <li><a href="{% url 'software:tos' %}">{% trans "Terms of service" %}</a></li>
                    </ul>
                    <div class="navbar-right">
                        <em class="text-light" style="font-size: 80%;">{{version}}</em>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<script src="{% static 'bower_components/shariff/build/shariff.min.js' %}"></script>
<script src="{% static 'js/charming.min.js' %}"></script>
<script src="{% static 'js/anime.min.js' %}"></script>
<script src="{% static 'js/crossword.js' %}"></script>
<script src="{% static 'js/features.js' %}"></script>
</body>
{% endspaceless_config %}
</html>
